<div class="cadastro">
    <h2>Cadastrar produto</h2>
    <table>
        <tr>
            <td>
                <label for="nome">Nome</label>
            </td>
            <td>
                <input pInputText type="text" id="nome" name="nome" [(ngModel)]="produto.nome"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="descricao">Descrição</label>
            </td>
            <td>
                <input pInputText type="text" id="descricao" name="descricao" [(ngModel)]="produto.descricao"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="preco">Preço</label>
            </td>
            <td>
                <input pInputText type="number" id="preco" name="preco" [(ngModel)]="produto.preco"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="quantidade">Quantidade</label>
            </td>
            <td>
                <input pInputText type="number" id="quantidade" name="quantidade" [(ngModel)]="produto.quantidade_estoque"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="fabricante">Fabricante</label>
            </td>
            <td>
                <p-dropdown [(ngModel)]="produto.fabricante" [options]="fabricantes" optionLabel="nome" placeholder="Selecione um fornecedor"></p-dropdown>
            </td>
        </tr>
        <tr>
            <td>
                <label for="categoria">Categoria</label>
            </td>
            <td>
                <p-dropdown [(ngModel)]="produto.categoria" [options]="categorias" optionLabel="nome" placeholder="Selecione uma categoria"></p-dropdown>
            </td>
        </tr>
        <tr>
            <td>
                <label for="ativo">Ativo?</label>
            </td>
            <td>
                <p-inputSwitch [(ngModel)]="produto.ativo"></p-inputSwitch>
            </td>
        </tr>
        <tr>
            <td>
                <p-button label="Enviar" (click)="cadastrarDados()"></p-button>
            </td>
        </tr>
    </table>
</div>

<hr>

<div class="lista">
    <p-table [value]="produtos" [rows]="10" [paginator]="true" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10, 20, 50]" dataKey="id" [(selection)]="produtoSelecionada" selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dadoproduto>
            <tr [pSelectableRow]="produtos">
                <td> {{ dadoproduto.id }} </td>
                <td> {{ dadoproduto.nome }} </td>
                <td> {{ dadoproduto.descricao }} </td>
                <td>
                    <p-button (click)="deletarDados(dadoproduto.id)" label="Excluir" severity="danger"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
