<div class="cabecalho">
    <h2>Controle de estoque</h2>
    <p-button class="logout" label="Sair" severity="danger" (onClick)="logOut()"></p-button>
</div>

<div>
    <p-tabView>
        <p-tabPanel header="Categorias">
            <app-categorias></app-categorias>
        </p-tabPanel>
        <p-tabPanel header="Produtos">

        </p-tabPanel>
        <p-tabPanel header="Entradas">

        </p-tabPanel>
        <p-tabPanel header="Cliente">
            <app-clientes></app-clientes>
        </p-tabPanel>
        <p-tabPanel header="Fornecedores">
            <app-fornecedores></app-fornecedores>
        </p-tabPanel>
        <p-tabPanel header="Vendas">

        </p-tabPanel>
        <p-tabPanel header="Fabricantes">
            <app-fabricantes></app-fabricantes>
        </p-tabPanel>
    </p-tabView>
</div>